.NavBar {
    border: 1px solid #dadadf;
}

.NavLink {
    padding: 5px;
}

.Active i {
    color: #2142b2;
}


@media only screen and (max-width: 620px) {

    .Hide{
       display: none;
     }
  }